# Site settings
title: "Suhaa.id"
description: "Blog pribadi untuk berbagi pemikiran tentang hukum, politik, dan jurnal rasa. Santai dan profesional untuk semua orang."
url: "https://priafahrian60-lgtm.github.io"
baseurl: "/suhaa99.github.io"
author: "Suhaa"

# Build settings
markdown: kramdown
highlighter: rouge
theme: minima

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

# Collections
collections:
  posts:
    output: true
    permalink: /:categories/:title/

# Exclude files
exclude:
  - Gemfile
  - Gemfile.lock
